/[Ss]cripts/
/[Bb]in/
/[Ll]ib/
/[Tt]cl/
/[Ii]nclude/
/venv 

__pycache__/
.vscode/
man/
.DS_STORE
.Python
*.py[cod]
pip-selfcheck.json
*.sqlite
/dist
/*.egg-info
/media
im/
*.exe
*.log
*.ipynb
*.xls*
*.csv
*.json
*.jsonl
.scrapy/
log.txt